<!DOCTYPE html>
<html>
    <!--
  * Please see the included README.md file for license terms and conditions.
  -->

    <head>
        <link rel="stylesheet" type="text/css" href="ionic/css/ionic.min.css">
        <meta charset="UTF-8">
        <title>Blank App Designer Cordova Web App Project Template</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

        <style>

                @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
                @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
                /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
        </style>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/app.css">
        

        <script src="cordova.js" id="xdkJScordova_"></script>

        <script src="js/app.js"></script>
        <!-- for your event code, see README and file comments for details -->
        <script src="js/init-app.js"></script>
        <!-- for your init code, see README and file comments for details -->
        <script src="xdk/init-dev.js"></script>
        <!-- normalizes device and document ready events, see file for details -->
        <script type="application/javascript" src="lib/jquery.min.js"></script>
        <script type="application/javascript" src="sidebar/js/hammer.js"></script>
        <script type="application/javascript" src="sidebar/js/jquery.hammer.js"></script>
        <script type="application/javascript" src="sidebar/js/swipe-hammer.js"></script>
        <script type="application/javascript" src="sidebar/js/sidebar.js"></script>
        <script type="application/javascript" src="ionic/js/ionic.bundle.js"></script>
        <script type="application/javascript" src="js/index_init_services.js"></script>
        <script src="js/jquery.maskedinput.js" type="text/javascript"></script>
    </head>

    <body ng-app="myApp" ng-controller="MainController as MC">


        <script type="application/javascript">
            jQuery(function ($) {
                $("#Telephone").mask("+7 (999) 999-9999");
            });

            var myApp=angular.module('myApp');
            myApp.controller('MainController', function($scope) {

                var self = this;
                
                self.records = [];
                con1 = new Object();
                con1.name = "Sharanin";
                con1.telephone = "123456789";
                self.records.push(con1);
                
                self.contact = new Object();
                self.contact.name = "";
                self.contact.telephone = "";
                
                self.add = function() { 
                    if(self.contact.name != "" && self.contact.name != "") {
                        con1 = new Object();
                        con1.name = self.contact.name;
                        con1.telephone = self.contact.telephone;
                        self.records.push(con1);
                        self.contact.name = "";
                        self.contact.telephone = "";
                    }
                }
                
                self.delete = function(con) { 
                    var index = self.records.indexOf(con);
                    if (index > -1) {
                        self.records.splice(index, 1);
                    }
                }
            
            });
        
        </script>
        <div class="page-header">
            <h2>Телефонный справочник</h2>
        </div>

        <div class="app">
            <h4 align="center"> Добавление контакта </h4>
            <br>
            <table id="input">
		      <tr>
			     <td> <input id="Contact" ng-model="MC.contact.name" placeholder="Имя" required></td>
			     <td rowspan="2" style="text-align: center;" bgcolor="darkgray">
                     
                     <a id ="addContact" ng-click ="MC.add()" href="#" >Добавить<br>контакт</a>
                  </td>
		      </tr>
		      <tr>
			     <td><input id="Telephone" ng-model="MC.contact.telephone"  placeholder="Номер телефона" required></td>
		      </tr>
            </table>
            <br/>
        </div>
        
        <h4 align="center">Список контактов</h4>
        <div class="upage" id="mainpage">
            <div class="upage-outer">
                <div class="upage-content ac0 content-area vertical-col left">
                    <ion-list class="widget uib_w_1 d-margins" data-uib="ionic/list" data-ver="0">
                        <ion-item ng-repeat="x in MC.records" class="item widget uib_w_2" data-uib="ionic/list_item" data-ver="0">{{x.name}} {{x.telephone}} <button class="btn btn btn-danger remove" ng-click ="MC.delete(x)">X</button></ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </body>

</html>
