* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
	  
.btns {
  display: inline-block;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
.btns:hover { background: rgba(255,255,255,.2); }
.btns:active { background: white; }
	
.input {
	border: 2px solid #000000; 
	-webkit-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 0px rgba(0,0,0,0.1); 
	-moz-box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 0px rgba(0,0,0,0.1); 
	box-shadow: 
	  inset 0 0 8px  rgba(0,0,0,0.1),
			0 0 0px rgba(0,0,0,0.1); 
	padding: 7px;
	background: rgba(255,255,255,0.5);
	margin: 0 0 10px 0;
}
